/**
 * style.styl
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  color white!important
  font-size 20px!important
  font-weight bold!important
  background-color black!important
  background-image none!important
  font-family 'ＭＳ Ｐゴシック', sans-serif!important
  border-radius 0!important
  box-sizing border-box!important

h1
  color red!important
  border 'siliver 5px'!important

h2
  color yellow!important
  border 'ridge 2px silver'!important

h3
  color green!important
  border outset 2px!important

h4
  color purple!important
  border groove 2px!important

h5
  color lime!important
  border double 2px!mportant

div
  color red
  border inset 5px!important
  div
    div
      border none!important

p
  color yellow!important

header, main, footer
  color lime!important
  border 'ridge 2px silver!'!important

section, article
  color purple!important
  border groove 2px!important

dt, em
  animation blink 1s step-end infinite!important
  background-color blue!important
  color lime!important

strong, b
  animation blink 1.2s step-end infinite!important
  background-color red!important
  color yellow!important

@keyframes blink
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }

nav, ul, ol, dl
  background-color purple!important

nav
  li
    color cyan!important
    border lime solid 5px!important
    border-radius 20px!important

dd, aside, address
  color red!important
  border outset 2px!important

img
  margin -5px!important
  border 5px solid green!important

a
  text-decoration underline!important
